/**

ThatStella7922's Minima Theme Customizations

Combine with _include/head.html for use.

Adds the following:
- Dark mode support
- E872E2 accent color where possible
- Safe area support on iPhone
- Custom styling for details blocks
*/


/** Page content */
.page-content {
    padding: 30px env(safe-area-inset-right) 0 env(safe-area-inset-left);
    flex: 1;
}


/* styling for details blocks */
details {
    background-color: #f3f3f3;
    border-radius: 15px;
    padding: 10px;
}


/** Links */
a { color: #e872e2; text-decoration: none; }
a:visited { color: #e872e2; }
a:hover { color: #c461bf; text-decoration: underline; }
.social-media-list a:hover { text-decoration: none; }
.social-media-list a:hover .username { text-decoration: underline; }


/** Site header */
.site-header {
    padding: 0 env(safe-area-inset-right) 0 env(safe-area-inset-left);
}


/** Site footer */
.site-footer {
    padding: 30px env(safe-area-inset-right) 0 env(safe-area-inset-left);
}


/* dark mode */
@media (prefers-color-scheme: dark) {
    /* Set the body color to a very dark gray */
    body {
        background-color: #1a1a1a;
        color:#FFFFFF;
    }


    footer {
        color: #ffffff;
    }


    /* styling for details blocks */
    details {
        background-color: #282828;
    }


    /** Links */
    a:visited { color: #bc52b7; }
    a:hover { color: #c461bf; text-decoration: underline; }


    /** Site header */
    .site-header { border-top: 5px solid #d2d2d2; border-bottom: 1px solid #353535; min-height: 55.95px; position: relative; }

    .site-title { font-size: 26px; font-weight: 300; line-height: 54px; letter-spacing: -1px; margin-bottom: 0; float: left; }
    .site-title, .site-title:visited { color: #ffffff; }
    .site-nav .page-link { color: #eeeeee; line-height: 1.5; }

    @media screen and (max-width: 600px) { .site-nav { position: absolute; top: 9px; right: 15px; background-color: #1a1a1a; border: 1px solid #353535; border-radius: 5px; text-align: right; }
    .site-nav .menu-icon > svg { fill: #ffffff; }
    }


    /** Site footer */
    .site-footer { border-top: 1px solid #353535; padding: 30px 0; }


    /** Blockquotes */
    blockquote { color: #a8a8a8; border-left: 4px solid #848484; padding-left: 15px; font-size: 18px; letter-spacing: -1px; font-style: italic; }
    blockquote > :last-child { margin-bottom: 0; }


    /** Code formatting */
    pre, code { font-size: 15px; border: 1px solid #5b2d59; border-radius: 3px; background-color: rgb(79, 79, 79); }
    /** Syntax highlighting styles */
    .highlighter-rouge .highlight { background: rgb(79, 79, 79); }
}